@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root {
    --coffee : rgba(167, 82, 8, 0.377);
}
body {
    font-family: 'Poppins', sans-serif;
}
rect.btn {
    stroke:#fff;
    fill:#fff;
    fill-opacity:0;
    stroke-opacity:0;
  }
svg g text {
    display: none;
}
svg g:hover > text{
    display: block;
    fill: rgb(0, 0, 0);
    
}
text {
    font-size: 1rem;
    font-weight: bold;
    fill: rgb(0, 0, 0);
}


path {
    fill: transparent;
    cursor: pointer;
    stroke: rgba(201, 201, 201, 0.807);
    z-index: -1;
}

path:hover {
    fill: var(--coffee);
    transform: translate(-3px, -3px);
}

.container {
    display: flex;
}
